In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import ExtraTreeRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.model_selection import train_test_split,cross_val_score
sns.set()

In [0]:
! if [ ! -e avocado.csv ];\
  then wget https://raw.githubusercontent.com/RanSui11/dmproject/master/avocado.csv; \
fi;

dat = pd.read_csv("avocado.csv" )

In [0]:
dat.head()

   Unnamed: 0        Date  AveragePrice  ...          type  year  region
0           0  2015-12-27          1.33  ...  conventional  2015  Albany
1           1  2015-12-20          1.35  ...  conventional  2015  Albany
2           2  2015-12-13          0.93  ...  conventional  2015  Albany
3           3  2015-12-06          1.08  ...  conventional  2015  Albany
4           4  2015-11-29          1.28  ...  conventional  2015  Albany

[5 rows x 14 columns]

In [0]:
dat = dat.drop(columns = ["Unnamed: 0","year"])
print(dat.shape)

(18249, 12)

In [0]:
dat.head()

         Date  AveragePrice  Total Volume  ...  XLarge Bags          type  region
0  2015-12-27          1.33      64236.62  ...          0.0  conventional  Albany
1  2015-12-20          1.35      54876.98  ...          0.0  conventional  Albany
2  2015-12-13          0.93     118220.22  ...          0.0  conventional  Albany
3  2015-12-06          1.08      78992.15  ...          0.0  conventional  Albany
4  2015-11-29          1.28      51039.60  ...          0.0  conventional  Albany

[5 rows x 12 columns]

In [0]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  object
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   4046          18249 non-null  float64
 4   4225          18249 non-null  float64
 5   4770          18249 non-null  float64
 6   Total Bags    18249 non-null  float64
 7   Small Bags    18249 non-null  float64
 8   Large Bags    18249 non-null  float64
 9   XLarge Bags   18249 non-null  float64
 10  type          18249 non-null  object
 11  region        18249 non-null  object
dtypes: float64(9), object(3)
memory usage: 1.7+ MB

In [0]:
dfnew = pd.get_dummies(dat, columns = ["type","region"])

In [0]:
print(dfnew.shape)
dfnew.head()

(18249, 66)

         Date  AveragePrice  ...  region_West  region_WestTexNewMexico
0  2015-12-27          1.33  ...            0                        0
1  2015-12-20          1.35  ...            0                        0
2  2015-12-13          0.93  ...            0                        0
3  2015-12-06          1.08  ...            0                        0
4  2015-11-29          1.28  ...            0                        0

[5 rows x 66 columns]

In [0]:
month = []
for i in range(18249):
  month.append(dfnew.loc[i]["Date"][5:7])

In [0]:
dfnew["month"] = month

In [0]:
dfnew.head()

         Date  AveragePrice  ...  region_WestTexNewMexico  month
0  2015-12-27          1.33  ...                        0     12
1  2015-12-20          1.35  ...                        0     12
2  2015-12-13          0.93  ...                        0     12
3  2015-12-06          1.08  ...                        0     12
4  2015-11-29          1.28  ...                        0     11

[5 rows x 67 columns]

In [0]:
dfnew2 = dfnew.drop(columns=["Date"])
dfnew2 = pd.get_dummies(dfnew2, columns = ["month"])
dfnew2.head()

   AveragePrice  Total Volume     4046  ...  month_10  month_11  month_12
0          1.33      64236.62  1036.74  ...         0         0         1
1          1.35      54876.98   674.28  ...         0         0         1
2          0.93     118220.22   794.70  ...         0         0         1
3          1.08      78992.15  1132.00  ...         0         0         1
4          1.28      51039.60   941.48  ...         0         1         0

[5 rows x 77 columns]

In [0]:
print(dfnew2.shape)

(18249, 77)

In [0]:
#check for missing values
#if true, fill missing w/ col means
dfnew2.isnull().sum().sort_values(ascending = False)

month_12                     0
region_HarrisburgScranton    0
region_CincinnatiDayton      0
region_Columbus              0
region_DallasFtWorth         0
                            ..
region_Sacramento            0
region_SanDiego              0
region_SanFrancisco          0
region_Seattle               0
AveragePrice                 0
Length: 77, dtype: int64

In [0]:
X = dfnew2.drop(columns = ["AveragePrice"])
y = dfnew2["AveragePrice"]
print(X.shape)
print(y.shape)

(18249, 76)
(18249,)

In [0]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 76 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Total Volume                18249 non-null  float64
 1   4046                        18249 non-null  float64
 2   4225                        18249 non-null  float64
 3   4770                        18249 non-null  float64
 4   Total Bags                  18249 non-null  float64
 5   Small Bags                  18249 non-null  float64
 6   Large Bags                  18249 non-null  float64
 7   XLarge Bags                 18249 non-null  float64
 8   type_conventional           18249 non-null  uint8
 9   type_organic                18249 non-null  uint8
 10  region_Albany               18249 non-null  uint8
 11  region_Atlanta              18249 non-null  uint8
 12  region_BaltimoreWashington  18249 non-null  uint8
 13  region_Boise                18249 non-null  uint8
 14  region_Boston               18249 non-null  uint8
 15  region_BuffaloRochester     18249 non-null  uint8
 16  region_California           18249 non-null  uint8
 17  region_Charlotte            18249 non-null  uint8
 18  region_Chicago              18249 non-null  uint8
 19  region_CincinnatiDayton     18249 non-null  uint8
 20  region_Columbus             18249 non-null  uint8
 21  region_DallasFtWorth        18249 non-null  uint8
 22  region_Denver               18249 non-null  uint8
 23  region_Detroit              18249 non-null  uint8
 24  region_GrandRapids          18249 non-null  uint8
 25  region_GreatLakes           18249 non-null  uint8
 26  region_HarrisburgScranton   18249 non-null  uint8
 27  region_HartfordSpringfield  18249 non-null  uint8
 28  region_Houston              18249 non-null  uint8
 29  region_Indianapolis         18249 non-null  uint8
 30  region_Jacksonville         18249 non-null  uint8
 31  region_LasVegas             18249 non-null  uint8
 32  region_LosAngeles           18249 non-null  uint8
 33  region_Louisville           18249 non-null  uint8
 34  region_MiamiFtLauderdale    18249 non-null  uint8
 35  region_Midsouth             18249 non-null  uint8
 36  region_Nashville            18249 non-null  uint8
 37  region_NewOrleansMobile     18249 non-null  uint8
 38  region_NewYork              18249 non-null  uint8
 39  region_Northeast            18249 non-null  uint8
 40  region_NorthernNewEngland   18249 non-null  uint8
 41  region_Orlando              18249 non-null  uint8
 42  region_Philadelphia         18249 non-null  uint8
 43  region_PhoenixTucson        18249 non-null  uint8
 44  region_Pittsburgh           18249 non-null  uint8
 45  region_Plains               18249 non-null  uint8
 46  region_Portland             18249 non-null  uint8
 47  region_RaleighGreensboro    18249 non-null  uint8
 48  region_RichmondNorfolk      18249 non-null  uint8
 49  region_Roanoke              18249 non-null  uint8
 50  region_Sacramento           18249 non-null  uint8
 51  region_SanDiego             18249 non-null  uint8
 52  region_SanFrancisco         18249 non-null  uint8
 53  region_Seattle              18249 non-null  uint8
 54  region_SouthCarolina        18249 non-null  uint8
 55  region_SouthCentral         18249 non-null  uint8
 56  region_Southeast            18249 non-null  uint8
 57  region_Spokane              18249 non-null  uint8
 58  region_StLouis              18249 non-null  uint8
 59  region_Syracuse             18249 non-null  uint8
 60  region_Tampa                18249 non-null  uint8
 61  region_TotalUS              18249 non-null  uint8
 62  region_West                 18249 non-null  uint8
 63  region_WestTexNewMexico     18249 non-null  uint8
 64  month_01                    18249 non-null  uint8
 65  month_02                    18249 non-null  uint8
 66  month_03                    18249 non-null  uint8
 67  month_04                    18249 non-null  uint8
 68  month_05                    18249 non-null  uint8
 69  month_06                    18249 non-null  uint8
 70  month_07                    18249 non-null  uint8
 71  month_08                    18249 non-null  uint8
 72  month_09                    18249 non-null  uint8
 73  month_10                    18249 non-null  uint8
 74  month_11                    18249 non-null  uint8
 75  month_12                    18249 non-null  uint8
dtypes: float64(8), uint8(68)
memory usage: 2.3 MB

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
print(X_train.shape)
print(X_test.shape)

(13686, 76)
(4563, 76)

In [0]:
models=[LinearRegression(),KNeighborsRegressor(),SVR(),Ridge(),Lasso(),MLPRegressor(alpha=20),DecisionTreeRegressor(),ExtraTreeRegressor(),XGBRegressor(),RandomForestRegressor(),AdaBoostRegressor(),GradientBoostingRegressor(),BaggingRegressor()]
models_str=['LinearRegression','KNNRegressor','SVR','Ridge','Lasso','MLPRegressor','DecisionTree','ExtraTree','XGBoost','RandomForest','AdaBoost','GradientBoost','Bagging']

In [0]:
from sklearn.metrics import r2_score
for name,model in zip(models_str,models):
    print(''+name)
    model=model   #
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)  
    score=r2_score(y_test,y_pred)
    print(name +' :'+str(score))

LinearRegression
LinearRegression :0.6014733177822504
KNNRegressor
KNNRegressor :0.6367106495891834
SVR
SVR :0.3312724223499326
Ridge
Ridge :0.6014667240629143
Lasso

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=2.67458e-18): result may not be accurate.
  overwrite_a=True).T
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 33.74894045269798, tolerance: 0.22226250447537643
  positive)

Lasso :0.04264497607276596
MLPRegressor
MLPRegressor :-70766608.8899024
DecisionTree
DecisionTree :0.6875509375261301
ExtraTree
ExtraTree :0.7099095658409935
XGBoost
[16:58:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
XGBoost :0.6609530122644851
RandomForest
RandomForest :0.8493607836393973
AdaBoost
AdaBoost :0.42092345466344394
GradientBoost
GradientBoost :0.6588102497580042
Bagging
Bagging :0.8272152415536559

In [0]:
#standarization of numerical data
num_cols = X.columns[X.dtypes == 'float64']

#cal mean and std using training dats only 
num_cols_means = X_train.loc[:,num_cols].mean()
num_cols_std = X_train.loc[:, num_cols].std()

X.loc[:,num_cols] = (X.loc[:,num_cols] - num_cols_means)/(num_cols_std)
X.head()

   Total Volume      4046      4225  ...  month_10  month_11  month_12
0     -0.230138 -0.235225 -0.200434  ...         0         0         1
1     -0.232841 -0.235512 -0.208523  ...         0         0         1
2     -0.214545 -0.235417 -0.155360  ...         0         0         1
3     -0.225876 -0.235149 -0.185994  ...         0         0         1
4     -0.233949 -0.235300 -0.209183  ...         0         1         0

[5 rows x 76 columns]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [0]:
from sklearn.metrics import r2_score
for name,model in zip(models_str,models):
    print(''+name)
    model=model   #
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)  
    score=r2_score(y_test,y_pred)
    print(name +' :'+str(score))

LinearRegression
LinearRegression :0.6014737273462387
KNNRegressor
KNNRegressor :0.7156686819774032
SVR
SVR :0.6981897345065678
Ridge
Ridge :0.6016146821256761
Lasso
Lasso :-0.00045730638841812166
MLPRegressor
MLPRegressor :0.3138666674985202
DecisionTree
DecisionTree :0.6886539166321155
ExtraTree
ExtraTree :0.7213170708592902
XGBoost
[16:59:38] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
XGBoost :0.6609544415616198
RandomForest
RandomForest :0.8501629562129649
AdaBoost
AdaBoost :0.39354219867507123
GradientBoost
GradientBoost :0.6607813248440447
Bagging
Bagging :0.8288858051750502